# dependencias
/node_modules

# build
/dist
/dist-ssr

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# sistema
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# ambiente
.env
.env.local
.env.*.local
